<!DOCTYPE html>
<html ng-app="blankApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; font-src data: *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title>Groupies</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="ContactsController">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Contacts Example</h1>
      </ion-header-bar>
      <ion-content class="padding">
        <button class="button button-full button-positive" ng-click="getAllContacts()">
          Load Contacts
        </button>
        <button class="button button-full button-positive" ng-click="addContact()">
          Add Contact - Gajotres
        </button>
        <button class="button button-full button-positive" ng-click="removeContact()">
          Remove Contact - Gajotres
        </button>
        <button class="button button-full button-positive" id="alert" ng-click="showAlert()">
          Show an Alert
        </button>

        <ion-list>
          <ion-item ng-repeat="con in contacts">
            {{con.displayName}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>
    <script>
      document.getElementById('alert').addEventListener('click', function() {
        var request = new XMLHttpRequest();
        request.open('POST', 'https://requestb.in/18a2rne1', true); // swap with fans endpoint
        request.setRequestHeader("Content-type", "application/json");
        // params = JSON.stringify({hi: 'there'});
        request.send('{"web":"clicked"}');
      });
    </script>
  </body>
</html>
